#recipes{
    position: relative;
}
#recipeInfos {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    background-color: black;

}

@media (min-width: 577px) and (max-width: 768px) {
    #recipeInfos {
        grid-template-columns:  1fr
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #recipeInfos {
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    #recipeInfos {
        grid-template-columns: 1fr 1fr 1fr
    }
}

@media (min-width: 1441px) {
    #recipeInfos {
        grid-template-columns: 1fr 1fr 1fr
    }


}